<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="hostname"  value="10.2.56.245"/>
      <add key="queuename" value="Q1"/>   <!--订阅的队列名称-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>